<?xml version="1.0" encoding="utf-8"?>
<!-- What `mise run coverage` measures. -->
<Configuration>
  <CodeCoverage>
    <Sources>
      <Exclude>
        <!-- Code the compiler generates, such as the logging methods of [LoggerMessage] -->
        <Source>.*[\\/]obj[\\/].*</Source>
      </Exclude>
    </Sources>
  </CodeCoverage>
</Configuration>
